{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "es6": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,

    // allow imports mixed with non-import statements at top of file
    "import/first": 1,
    "semi": "off",
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}
